.Profile {
  grid-template-areas:
    "about"
    "reviews";
  grid-template-columns: auto;
  gap: 2rem;
  padding: 2rem;
}

.ProfileAbout {
  grid-area: about;
  position: sticky;
  top: 0;
}
.ProfileAvatarImage {
  margin-top: -3rem;
  border-radius: 9999px;
  box-shadow: var(--shadow-lg);
}

.ProfileReviews {
  grid-area: reviews;
}
.ProfileReviewsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, min-content));
  grid-template-rows: repeat(auto-fill, max-content);
  gap: 1rem;
}

@media (min-width: 48rem) {
  .Profile {
    display: grid;
    grid-template-areas:
      "about reviews"
      ". reviews";
    grid-template-columns: 400px auto;
    gap: 2rem;
    padding: 2rem;
  }
}
