.Profile {
  grid-template-areas:
    "about"
    "reviews";
  grid-template-columns: auto;
  gap: 1rem;
}

.ProfileAbout {
  grid-area: about;
  padding-top: 2rem;
  padding-left: 2rem;
}
.ProfileAvatarImage {
  margin-top: -3rem;
  border-radius: 9999px;
  box-shadow: var(--shadow-lg);
}

.ProfileReviews {
  grid-area: reviews;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
}
.ProfileReviewsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, max-content);
  gap: 1rem;
}

@media (min-width: 48rem) {
  .Profile {
    display: grid;
    grid-template-areas:
      "about reviews"
      ". reviews";
    grid-template-columns: 400px auto;
  }

  .ProfileAbout {
    position: sticky;
    top: 0;
  }
}
