<div class="measure">
  <h1 class="headline pt-2 pb-3">
    Great Mortgage Brokers should have a great profile.
    <br />
    <span class="text-primary-color">Here, we already build you one.</span>
  </h1>
</div>

<div class="measure">
  <img
    src="/assets/mortgage-brokers/mortgage-broker-profile.png"
    alt="A screenshot of RateMyAgent’s profiles for Mortgage Brokers"
    width="661"
    height="582"
    class="stack ml-auto mr-auto"
  />
  <div class="stack items-center pt-3">
    <a routerLink="/mortgage-brokers/agents/gn905" class="button-primary">View Your Profile</a>
  </div>
</div>

<div class="pt-4 pb-4 stack md:row measure text-center text-lg" style="--space-y: 3rem;">
  <section class="measure-xs">
    <img
      src="/assets/mortgage-brokers/star-hands.png"
      alt=""
      width="118"
      height="101"
    />
    <h2 class="text-primary-color font-bold pt-1 pb-1/2">Authentic reviews</h2>
    <p class="text-secondary-color">
      76% of people trust online reviews as much as a personal recommendation¹.
    </p>
  </section>
  <section class="measure-xs">
    <img
      src="/assets/mortgage-brokers/star-emitting.png"
      alt=""
      width="118"
      height="117"
    />
    <h2 class="text-primary-color font-bold pt-1 pb-1/2">Be found online</h2>
    <p class="text-secondary-color">
      A powerful SEO boost so prospective clients can find you easily on Google.
    </p>
  </section>
  <section class="measure-xs">
    <img
      src="/assets/mortgage-brokers/automated-request.png"
      alt=""
      width="118"
      height="96"
    />
    <h2 class="text-primary-color font-bold pt-1 pb-1/2">Quick for clients</h2>
    <p class="text-secondary-color">
      Reviews take minutes to fill out, and there’s no limit to how many you can
      request.
    </p>
  </section>
</div>

<aside class="text-white bg-primary-opacity-75">
  <div class="measure-sm pt-3 pb-3 text-center text-lg">
    <h2 class="pb-3 text-2xl font-bold">
      <span class="border-b-primary pb-1 pl-1/2 pr-1/2">About RateMyAgent</span>
    </h2>
    <p>
      At Ratemyagent.com.au, we have collected over 800,000 verified real estate
      agent reviews that generate over 400,000 unique visitors every month.
      We’re excited to now be offering the same trusted service for mortgage
      brokers.
    </p>
  </div>
</aside>

<section class="measure pt-4">
  <div class="stack md:row text-lg text-primary-color" style="--space-x: 3rem;">
    <img src="/assets/mortgage-brokers/write-review-form.png" />
    <div class="stack" style="--space-y: 1.4rem;">
      <p class="font-bold">
        Did you know that 89% of consumers read online reviews²?
      </p>

      <p>
        RateMyAgent makes it quick and easy to request reviews. A handful of
        genuine reviews could yield dividends for years.
      </p>

      <p>
        All your reviews are linked to the property, so people looking for a
        mortgage broker can be sure that 100% of reviews on RateMyAgent are from
        real customers.
      </p>
    </div>
  </div>
  <div class="stack items-center pt-2">
    <button class="button-primary">Start Getting Reviews Now</button>
  </div>
</section>

<aside class="pt-4 pb-4 measure">
  <ul class="stack items-center text-sm text-primary-color list-none">
    <li>
      <a
        href="https://www.brightlocal.com/research/local-consumer-review-survey"
        >¹https://www.brightlocal.com/research/local-consumer-review-survey</a
      >
    </li>
    <li>
      <a
        href="https://business.trustpilot.com/guides-reports/build-trusted-brand/the-critical-role-of-reviews-in-internet-trust"
        >²https://business.trustpilot.com/guides-reports/build-trusted-brand/the-critical-role-of-reviews-in-internet-trust</a
      >
    </li>
  </ul>
</aside>
