<header role="banner">
  <img
    src="/assets/ratemyagent-logo@2x.png"
    alt="RateMyAgent"
    width="167"
    height="49"
  />
</header>

<main role="main">
  <router-outlet></router-outlet>
</main>

<footer role="contentinfo">
  <div class="row measure">
    <small>© RateMyAgent for Mortgage Brokers</small>
    <nav class="row ml-auto">
      <ul class="list-none">
        <li>
          <a target="_blank" href="https://www.facebook.com/ratemyagentamerica/">
            <img
              src="/assets/footer-facebook.png"
              alt="RateMyAgent on Facebook"
              width="20"
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
